.includedPlanLabel {
    font-family: "Graphik-Semibold";
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
}

.contentTitle {
    font-family: "Graphik-Medium";
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    color: #50c1dc;
    margin-left:10px;
  }
  
  .contentDescription {
    margin-left:30px;
  }