.planLbl {
    font-family: "Graphik-Medium";
    font-size: 15px;
    font-weight: 500;
    color: #96939e;
}

#priceStructLabel {
    font-family: "Graphik-Semibold";
    font-size: 14px;
    font-weight: 600;
    color: #50c1dc;
    letter-spacing: 1.87px;     
}

#planMatchLabel {
    color: #292533;
    font-family: "Graphik-Semibold";
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
}  

.planLbl#active {
    color: #292533;
}

.planLbl {
    padding-right: 20px;
    padding-left: 20px;
} 

.toggleContainer {
    display: flex;
}
.switch {
    border: 1px solid #ccc;
    width: 70px;
    height: 33px;
    border-radius: 112px;
    cursor: pointer;
    display: inline-block;
    background-color: #50c1dc
}
.switch-toggle {
    border: 1px solid #999;
    box-shadow: 1px 1px 1px #ccc;
    width: 31px;
    height: 32px;
    left: 0;
    border-radius: 108px;
    background: #fff;
    position: relative;
    transition: left .2s ease-in-out
}
    
.switch.on {
    background: #676dbc
}

.switch.on .switch-toggle {
    left: 35px
}
    
.switch.disabled {
    cursor: not-allowed
}

.switch.on {
    background: #676dbc
}

.switch.on .switch-toggle{
    left: 35px
}

@media (min-width: 768px) {
    .switchPlanContainer {
        display: flex;
        flex-wrap: wrap;    
        align-items: flex-end;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
    #selectLbl {
        width:45%;
        text-align: left;        
    }
    .prefix {
        width:5%;
    }
    .toggleContainer {
        width: 50%
    }
}

@media (max-width:480px) {
    .selectLbl {
        margin-left: 15px; 
        margin-right: 15px;       
    }

    #priceStructLabel, #planMatchLabel {
        text-align: center;
    }
    
}




